<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
    <form [formGroup]="courseForm">
      <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>{{consData.COURSE_NAME}}</mat-label>
            <input matInput  type="text" formControlName="courseName">
           </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>{{consData.COURSE_DESC}}</mat-label>
              <input matInput  type="text" formControlName="courseDescription">
             </mat-form-field>
          </div>
        </form>
  </div>
<div mat-dialog-actions>
  <button mat-button  (click)="courseDetails()" color="primary" > Add Course</button>
  <button mat-button  cdkFocusInitial >Cancel</button>
</div>