.mat-card-field{
width:30%;
margin:10% auto; 
border: 1px solid linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.mat-register{
    margin-left:8% 
}

.example-full-width{
    width: 100%;
}
.mat-form-input{
    width: 100%;     
}

.mat-colour{
    color: rgb(65, 65, 218);
}

.errors{
    color: red;
  }

// .mat-button{
//     width: 40%;
// }

.paragraph{
    margin:4%; 
}

// #login_img{
//   height: 60%;
//   width:50%;
// }